@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(./assets/leaves-texture.jpg);
    background-size: cover;
    background-color: #008170; /*A cor de fundo próxima das folhas caso a imagem não carregue*/
    min-height: 100px;
    max-height: 300px;
    font-family: 'Libre Baskerville', serif;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
}

header > div {
    border: solid 3px white;
    color: white;
    text-align: center;
    padding: 0.7rem;
}

header > div > h3 {
    font-size: 0.7rem;
    font-weight: regular;
}

header > div > h1 {
    font-weight: 400;
}

header .strong-text {
    font-weight: 700;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: #618264;
}



.main-top-part,
.main-bottom-part {
    display: flex;
    flex: 1;
}

.big-white-number {
    color: white;
    font-weight: 700;
    font-size: 7rem;
    margin: 0 0 0 1rem;
}

.main-top-part {
    align-items: center;
}

.main-bottom-part-left, .main-bottom-part-right {
    flex: 1;
}

.main-secondary-titles {
    margin: 0 0 0 1rem;
}

.small-black-text {
    font-size: 0.7rem;
    margin: 0 0 1rem 1rem;
    padding-right: 8rem;

}

.main-bottom-part-left {
    align-items: start;
    text-align: center;
    background-image: url(./assets/palm-trees-line.jpg);
    background-size: cover;
    padding: 1rem 1rem 0 1rem;
}

.main-bottom-part-right {
    justify-content: end;
    background-image: url(./assets/leaves-reflect.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.medium-text {
    color: white;
}

.link-button {
    background-color: transparent;
}

.bottom-text {
    color: white;
}

@media screen and (max-width: 600px) {
    .big-white-number {
        display: none;
    }
}